# safely require a package and not fail if it doesn't load somehow
snippet safereq
	local safe_require = require('lib.meta').safe_require

snippet hslogger
	local logger = hs.logger.new("$1", "debug")

snippet ifmac "Conditional for macos"
	if vim.fn.has("macunix") then
	end
