snippet >note "Note callout"
	> [!NOTE]
	> 

snippet >imp "Important callout"
	> [!IMPORTANT]
	> 

snippet >tip "tip callout"
	> [!TIP]
	> 

snippet >warn "Warning callout"
	> [!WARNING]
	> 

snippet >cau "Note callout"
	> [!CAUTION]
	> 

