# run if '${1:bin-name}' exists on path
snippet ifbin "check if binary exists" b
	if type $1 >/dev/null 2>&1; then
	fi

snippet iffile "check if file exists" b
	if [[ -f '${1:file}']]; then
	fi

snippet ifdir "check if folder exists" b
	if [[ -d '${1:dir}']]; then
	fi

snippet ifenv "check if env var is not empty" b
	if [[ \$${1} != '' ]]; then
	fi

snippet ifcmd "check if cmd returned 0" b
	if $1; then
	fi
